In [5]:
import pickle as pkl
from pprint import pprint

In [6]:
with open("../../data/auxiliary/oc20_data_mapping.pkl", "rb") as f:
    ocpmapping = pkl.load(f)

In [38]:
new_dict = {}
for key, val in ocpmapping.items():
    if val["anomaly"] != 0 or val["class"] != 0 or "Fe" not in val["bulk_symbols"]:
        continue
    ads = val["ads_symbols"]
    bulk = val["bulk_symbols"]
    miller = val["miller_index"]
    if ads not in new_dict.keys():
        new_dict[ads] = {}
    if bulk not in new_dict[ads].keys():
        new_dict[ads][bulk] = {}
    if miller not in new_dict[ads][bulk].keys():
        new_dict[ads][bulk][miller] = []
    new_dict[ads][bulk][miller].append(key)

In [30]:
with open('../../data/auxiliary/adslab_mapping.pkl', 'wb') as f:
    pkl.dump(new_dict, f)

In [44]:
new_dict["*NH"]["Al2FeNi"]

{(1, 1, 2): ['random1800463'], (1, 1, 1): ['random929124', 'random1089276']}

In [80]:
ss = set(new_dict["*NH3"].keys()) & set(new_dict["*NH2"].keys()) & set(new_dict["*NH"].keys()) & set(new_dict["*N"].keys())

In [105]:
def calculate_upper(s):
    return sum(1 for c in s if c.isupper())
{s for s in ss if calculate_upper(s) in [3]}

{'Al2FeNi',
 'Al2FeRh',
 'AlCrFe2',
 'Hf18Fe2Mo8',
 'Hf4Al4Fe4',
 'HfFe2Sn',
 'MnAl12Fe',
 'NbGaFe2',
 'TaTiFe2',
 'V2CrFe'}

In [50]:
df = pd.DataFrame(ocpmapping)

In [52]:
df = df.T

In [75]:
df = df[df["anomaly"] == 0]
df = df[df["class"] == 0]

In [104]:
adslist = ["*NH3", "*NH2", "*NH", "*N"]
bulklist = ['Ti4Fe8', 'TiFe'] #
bulklist = ['V3Fe', 'V6Fe2', 'VFe'] #, 'V3Fe', 'V6Fe2']
_df = df.query("ads_symbols in @adslist and bulk_symbols in @bulklist")

_df.index

Index(['random2338479', 'random2165235', 'random1924290', 'random1111938',
       'random2048068', 'random705040', 'random1837433', 'random2352149',
       'random1399547', 'random837007', 'random705531', 'random1494813',
       'random1461547', 'random848565', 'random1285990', 'random551549',
       'random1484473', 'random828136', 'random755992', 'random1161384',
       'random600758', 'random2159388', 'random1325945', 'random1712145',
       'random1452415', 'random632372', 'random2315220', 'random2079589',
       'random1083918', 'random1020186', 'random1977993', 'random1915965',
       'random2222944', 'random732473', 'random2028822', 'random1612959',
       'random2057804', 'random678558', 'random1449710'],
      dtype='object')

In [77]:
_df[_df["bulk_symbols"].str.contains("Fe")]

,bulk_id,ads_id,bulk_mpid,bulk_symbols,ads_symbols,miller_index,shift,top,adsorption_site,class,anomaly
random2157147,1412,74,mp-305,TiFe,*NH,"(1, 1, 0)",0.25,True,"((1.48, 7.58, 19.41),)",0,0
random2111229,4027,74,mp-16495,AlCrFe2,*NH,"(1, 0, 0)",0.125,True,"((0.0, 0.0, 22.7),)",0,0
random1318517,1729,72,mp-21260,Fe3Sn3,*NH3,"(1, 0, 0)",0.167,True,"((2.52, 2.32, 22.05),)",0,0
random1037243,6486,72,mp-979751,TaTiFe2,*NH3,"(2, 2, 1)",0.025,True,"((4.27, 6.58, 20.37),)",0,0
random378443,7290,77,mp-864890,Hf2FeIr,*N,"(1, 1, 0)",0.125,True,"((7.84, 9.68, 23.25),)",0,0
...,...,...,...,...,...,...,...,...,...,...,...
random2097080,1179,77,mp-568901,Nb4Fe8,*N,"(2, 1, 2)",0.132,False,"((6.65, 4.94, 21.95),)",0,0
random1996207,1789,74,mp-1095456,Nb4Fe8,*NH,"(2, 1, 1)",0.055,False,"((5.86, 2.75, 21.3),)",0,0
random2160515,708,74,mp-1722,FeZn13,*NH,"(1, 1, 1)",0.06,False,"((10.19, 6.8, 20.9),)",0,0
random956419,3920,77,mp-5778,AlVFe2,*N,"(1, 1, 0)",0.125,True,"((2.31, 2.87, 20.66),)",0,0
random605779,8051,72,mp-1193558,Hf18Fe2Mo8,*NH3,"(2, 1, 2)",0.073,False,"((6.08, 9.1, 29.9),)",0,0

In [ ]:
'Ti4Fe8',
'TiFe',
'VFe',
'V3Fe',
'V6Fe2',